<%- include('./includes/head.ejs') %>
    <style>
        small {
            display: none;
        }

        p.post {
            display: none;
        }

        .container {
            height: 100vh;
        }

        .row {
            height: 100%;
            justify-content: center;
        }

        button {
            width: 100%;
        }
    </style>

    </head>

    <body>
        <div class="www-layout">
            <section>
                <div class="gap no-gap signin whitish medium-opacity register">
                    <div class="bg-image" style="background-image:url(/images/resources/theme-bg.jpg)"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4" style="display: flex; align-items: center; justify-content: center;">
                                <div class="we-login-register">
                                    <div class="form-title">
                                        <i class="fa fa-key"></i>Forgot password
                                        <span>Forgot your password</span>
                                    </div>
                                    <form id="form-forgot" class="we-form" method="post">

                                        <input id="email" name="email" type="text" placeholder="Email">
                                        <small id="email-error">Email không hợp lệ</small>
                                        <input style="background-color: #fff; margin-top: 10px;" type="submit"
                                            value="Send code" />
                                        <!-- <button type="submit">Send code</button> -->
                                        <!-- <input style="width: 95px; height: 39px" type="submit" value="Register" /> -->
                                    </form>
                                    <a data-ripple="" title="" href="#" class="with-smedia facebook"><i
                                            class="fa fa-facebook"></i></a>
                                    <a data-ripple="" title="" href="#" class="with-smedia twitter"><i
                                            class="fa fa-twitter"></i></a>
                                    <a data-ripple="" title="" href="#" class="with-smedia instagram"><i
                                            class="fa fa-instagram"></i></a>
                                    <a data-ripple="" title="" href="#" class="with-smedia google"><i
                                            class="fa fa-google-plus"></i></a>
                                    <span>already have an account? <a class="we-account underline" href="/auth/login"
                                            title="">Sign in</a></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>

    </body>

    </html>

    <%- include('./includes/end.ejs') %>
        <script src="/js/client/forgot.js"></script>